<%- include("./templates/cabecera")%>



  <body>
    <header class="header">
      <div class="header-container-movies">
        <nav class="header-nav">
          <h1 class="header-tittle">Kamuai</h1>
          <div>
            <input type="text" class="header-input-search" placeholder="buscar">
          </div>
        </nav>
        <div class="flex-section">
          <div class="section">
            <div class="content">
              <h1 class="tittle-movie-principal">Bojack <span> horseman</span></h1>
            </div>
          </div>
        </div>
        <div class="flex-card">
          <div class="card"></div>
        </div>
       
      </div>
      
    </header>
   
    

  </body>

</html>