<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <% let folderSerie =  serieDescipcion.folder%>
        <% let nombreSerie =  serieDescipcion.nombre%>
        <%= folderSerie  %>
        <%= nombreSerie  %>
    </h1>

  
  
  <!--   <video src="/<%= nombreSerie %>" controls></video>--> 
</body>
</html>