<!DOCTYPE html>
<html>
    <head>
        <title>
            Movies
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='/css/normalize.css' />
        <link rel='stylesheet' href='/css/style.css' />
       
        <link rel='stylesheet' href='/css/card.css' />
        <link rel='stylesheet' href='/css/eslider.css' /> 
        <link rel='stylesheet' href='/css/bodybg.css' />
        
        <link rel='stylesheet' href='/css/modal.css' />
        <link rel='stylesheet' href='/css/responsive.css' />
        <link rel='stylesheet' href='/iconos/estrellas/style.css' />
        <link rel='stylesheet' href='/iconos/play/style.css' />
        <link rel='stylesheet' href='/iconos/cross/style.css' />
        <script  type="module" defer src="/javascripts/modal.js"></script>
    </head>