<!DOCTYPE html>
<html>
    <head>
        <title>
            Movies
        </title>
        
        <link rel='stylesheet' href='/css/normalize.css' />
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/card.css' />
        <link rel='stylesheet' href='/iconos/estrellas/style.css' />
        <link rel='stylesheet' href='/iconos/play/style.css' />
    </head>