<header class="header">
    <div class="flex-enlace">
        <a href="/">Kamuai</a>
    </div>
    <nav class="nav">
        <ul class="nav-ul">
            <li class="nav-li"><a href="/crearCarpeta">Crear carpeta</a></li>
            <li class="nav-li"><a href="/admin">Adjuntar Archivos</a></li>
        </ul>
    </nav>
</header>